.titleCard {
    display: flex;
    flex-direction: row;
}

.titleCard > h2{
    font-size: 1.2em;
    align-self: center;
    flex-grow: 1;
}

.titleCard > button{
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--topbar-bkg-col);
}