/* MAIN VIEW*/
.mainview {
    display: grid;
    gap: 24px;
    padding: 24px;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
}



/* PLACEMENT */
.mainview{
    grid-template:
            "a" 1fr
            "b" 1fr
            "c" 1fr
            / 1fr;
}

@media (min-aspect-ratio: 1/2){
    .mainview{
        grid-template:
                "a b" 1fr
                "a c" 1fr
                / 2fr 3fr;
    }
}

@media (min-aspect-ratio: 3/2){
    .mainview{
        grid-template:
                "a b c" 1fr
                / 2fr 3fr 3fr;
    }
}

/* GRID AREA */
.friends{ grid-area: a; }
.books{ grid-area: b; }
.similars{ grid-area: c; }