
/* NAVIGATION BAR */
TopBar {
    display: flex;
    background-color: var(--topbar-bkg-col);
    color: var(--topbar-col);
    font-size: 1.2em;
    padding: 12px;
}

TopBar h1 {
    flex-grow: 1;
    padding: 0 12px
}

TopBar a{
    padding: 0 12px;
}

TopBar button {


    padding: 0 24px;
}
