.glassPane {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--glasspane-shade);
}

.glassPane .inputForm{
    margin: auto;
    height: min(80%, 800px);
    width: min(80%, 800px);
}
/*
.glassPane .inputForm {
    display: grid;
    grid-template:
        "a b b" 40px
        "c d d" 40px
        "e f f" 40px
        "g g g" auto
        "h h i" 40px
        / 2fr 1fr 3fr;
    gap: 10px;

    background-color: white;
    padding: 24px;
    margin: auto;
    height: min(80%, 900px);
    width: min(80%, 900px);
    border-radius: 6px;
}

.glassPane .inputForm > .addImage {
    border-radius: 6px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.glassPane .inputForm > .addImage > span{
    display: block;
    margin: auto;
    text-align: center;
}

.glassPane .inputForm > span {
    display: flex;
    align-items: center;
}*/